
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-4 text-center">
                <img src="<%= user.picture %>" alt="Profile Picture" class="rounded-circle mb-3" width="150">
                <h2>Welcome, <%= user.displayName %>!</h2>
                <p>Email: <%= user.email %></p>
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</div>
